html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#image_section_slider .slick-dots {
  display: flex !important;
  flex-direction: column;
  left: -2.375rem !important;
  bottom: 1.375rem !important;
}

@media only screen and (min-width: 100px) {
  #image_section_slider .slick-dots {
    left: 2rem !important;
    bottom: -1rem !important;
  }
}

@media only screen and (min-width: 320px) {
  #image_section_slider .slick-dots {
    left: -1.5rem !important;
    bottom: 5rem !important;
  }
}

@media only screen and (min-width: 375px) {
  #image_section_slider .slick-dots {
    left: -4rem !important;
    bottom: 5rem !important;
  }
}

@media only screen and (min-width: 768px) {
  #image_section_slider .slick-dots {
    left: -4rem !important;
    bottom: 14rem !important;
  }
}

@media only screen and (min-width: 1024px) {
  #image_section_slider .slick-dots {
    left: -2.375rem !important;
    bottom: 1.375rem !important;
  }
}

#description_card_slider .slick-slider {
  max-width: 56.25rem;
}

/* description card slider */
@media only screen and (max-width: 900px) {
  #description_card_slider .slick-slider {
    max-width: 43.75rem;
  }
}

@media only screen and (max-width: 750px) {
  #description_card_slider .slick-slider {
    max-width: 31.25rem;
    /* display: none; */
  }
}
@media only screen and (max-width: 520px) {
  #description_card_slider .slick-slider {
    max-width: 21.875rem;
  }
}

@media only screen and (max-width: 388px) {
  #description_card_slider.slick-slider {
    max-width: 20.625rem;
  }
}

/* product carousel

@media only screen and (max-width: 357px) {
  #product_slider button {
    margin-top: -38.125rem;
  }
} */
